.contest-item{
    padding: 0;
    margin: 0;
}

.contest-item:hover,{
    cursor: pointer;
    
}

.card-img-overlay:hover{
    background-color:rgba(0,0,0,0.5);
}



.card-img{
    border-radius:0;
}

.contests-container{
    padding-top :68px;
    padding-bottom: 3px;
}

.card-img-overlay{
font-family: "Times New Roman", Times, serif;
padding-top:20%;
color: white;
}
