
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Variables
@import "variables";
@import "welcomepage";

//***********************************

//****************Nav Bar***************
.navbar-laravel {
  background-color: #fff;
	padding: 0;
	margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar ul li {
  margin :auto 10px ;
}

.navbar ul li:hover{
 // margin-bottom: -3px;
  border-bottom: 3px solid #0091EA;
}

.ml-auto li:hover{
	border-bottom: 3px solid #0091EA;
}
.navbar-active{
  margin-bottom: -3px;
  border-bottom: 3px solid #1976d2;

}

//***************************************

//*****************footer**********************

.hover_effect{
  opacity: 0.6;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.hover_effect:hover{
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
  
}

.footer_nav{
  position: absolute;
  bottom: 0;
}
//***************************************

// Bootstrap

@import '~bootstrap/scss/bootstrap';



//welcomepage_custom
.jumbotron{
  margin-bottom: 0;
}

//google fonts 
.font_01{
	font-family: 'Pacifico', cursive;
}

.font_02{
  font-family: 'Nova Flat', cursive;
}
