
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
// Variables
@import "variables";
@import "welcomepage";

//***********************************

//****************Nav Bar***************

.navbar-thumb{
  width:32px;
  height:32px;
}

.navbar-thumb-drop{
  width:50px;
  height:50px;
}
.navbar-laravel {
  background-color: #fff;
	padding: 0;
	margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar ul li {
  margin :auto 10px ;
}

.navigation:hover{
 // margin-bottom: -3px;
  border-bottom: 3px solid #0091EA;
}

.navbar-active{
  margin-bottom: -3px;
  border-bottom: 3px solid #1976d2;

}


//***************************************

//*****************footer**********************

.hover_effect{
  opacity: 0.6;
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.hover_effect:hover{
  cursor: pointer;
  opacity: 1;
  transform: scale(1.05);
  
}

.hover-effect-2{
  transition: transform 0.25s ease-in; 
}
.hover-effect-2:hover{
  transform: scale(1.2);
}

.footer_nav{
  position: absolute;
  bottom: 0;
}
//***************************************

// Bootstrap
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import "~bootstrap/scss/bootstrap";

//Protected Content Alert
#protected_alert {
  z-index: 9999;
  position: absolute;
  float: left;
  display:none;
}

//welcomepage_custom
.jumbotron{
  margin-bottom: 0;
}

//google fonts 
.font_01{
	font-family: 'Pacifico', cursive;
}

.font_02{
  font-family: 'Nova Flat', cursive;
}

.font_03{
  font-family: 'Noto Serif', serif;
}

.form-icon{
  z-index:150;
  font-size: 25px;
  opacity: 0.8;
  vertical-align: text-top;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;  
}

//*********************Notification panel*************************
.notifications::after{
  display: none;
}

.notification-head{
  font-size: 15px;
}

.read-all{
  opacity: 0.8;
}
.read-all:hover{
  opacity: 1;
  cursor: pointer;
}



.notification-dropdown{
  width:35vw;
  background-color: rgba(255,255,255,0.9);
  
}

.notification-section{
  max-height: 50vh;
  overflow-y: scroll;
  
}

.notification-section::webkit-scrollbar {
  background: gray;
}

.notification{
  border-top: solid rgba(139,139,139,0.3) 1px;
  border-bottom: solid rgba(139,139,139,0.3) 1px;
  padding-top:10px;
  padding-bottom:10px;
  
}
.notification:hover{
  background-color: rgba(139,139,139,0.1);
  cursor: pointer;
}

.notification-icon-1{
  width:50px;
  height:50px;
}
.notification-text{
  overflow: hidden;
}

.read{
  opacity: 0.8;
}
.read:hover{
  opacity: 1;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .notification-dropdown{
    width:90vw;
  }
  .row{
    margin:0;
  }
}
